datasets==1.2.1
faiss-cpu==1.6.5
GitPython==3.1.12
transformers==4.3.3
psutil==5.8.0
pytorch-lightning==1.1.4
wget==3.2
matplotlib==3.3.4
truecase==0.0.12
spacy==3.0.4
elasticsearch==7.7.1
wandb==0.12.6
SPARQLWrapper==1.8.5
